<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StableManager"
        tools:targetApi="31">
        <activity
            android:name=".Pages.AuthEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".Pages.AdminPages.StartAdminPageActivity"
            android:exported="false" />
        <activity
            android:name=".Pages.OwnerPages.EditPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Pages.OwnerPages.StartOwnerPageActivity"
            android:exported="false" />
        <activity
            android:name=".Pages.OwnerPages.ProfileOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".Pages.OwnerPages.AddStableActivity"
            android:exported="false" />
        <activity
            android:name=".Pages.OwnerPages.ListStableActivity"
            android:exported="false" />
        <activity
            android:name=".Pages.OwnerPages.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".Pages.OwnerPages.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".Pages.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".utils.NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.stablemanager.NEW_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>